name: ML CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Train model
      run: |
        python train.py

    - name: Upload model artifacts
      uses: actions/upload-artifact@v4
      with:
        name: model-artifacts
        path: |
          model/
          metrics.json

  deploy:
    needs: train
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Download model artifacts
      uses: actions/download-artifact@v4
      with:
        name: model-artifacts

    - name: Read metric
      run: |
        python -c "import json; print('F1=' + str(json.load(open('metrics.json'))['f1']))" >> $GITHUB_ENV

    - name: Compare metrics
      run: |
        if (( $(echo "$F1 <= ${{ vars.BEST_F1 }}" | bc -l) )); then
          echo "2022BCS0123 ---- Metric did not improve"
          exit 0
        fi

    - name: Login to DockerHub
      run: |
        echo "${{ secrets.DOCKER_TOKEN }}" | docker login docker.io \
        -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/wine-inference:latest .

    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/wine-inference:latest

    - name: Update BEST_F1
      run: |
        gh variable set BEST_F1 --body "$F1"
      env:
        GH_TOKEN: ${{ secrets.GH_PAT }}
